@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Forum&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --c_black: #000;
    --c_brightGrey: #999;
    --c_brightUltraViolet: #3d3d9c;
    --c_darkGrey: #222;
    --c_darkUltraViolet: #290066;
    --c_extraDarkGrey: #151515;
    --c_extraDarkUltraViolet: #1f004d;
    --c_grey: #555;
    --c_ultraViolet: #330080;
    --c_purple: #90f;
}
body {
    background-color: black;
}
.header {
    background: linear-gradient(180deg, var(--c_extraDarkGrey), var(--c_darkGrey) 90%);
    border-bottom: solid 2px var(--c_black);
    box-shadow: 0 0 50px var(--c_black);
    display: flex;
    height: 80px;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header ul {
    align-items: center;
    display: flex;
    width: 65%;
}
.header ul li {
    display: flex;
    justify-content: center;
    width: 20%;
}
.header ul li a {
    color: var(--c_grey);
    font-size: 40px;
    transition: 0.5s;
}
.header ul li:hover a {
    color: var(--c_brightUltraViolet);
    filter: drop-shadow(0 0 20px var(--c_brightUltraViolet));
    transform: translateY(15px);
}
.header ul li .text {
    color: var(--c_brightGrey);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0;
    position: absolute;
    transform: translateY(-10px);
    transition: 0.5s;
}
.header ul li:hover .text {
    opacity: 1;
    transform: translateY(0px);
}
.presentationImage {
    align-items: center;
    background-image: url('images/White_Star.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 950px;
}
.presentationImage p {
    color: var(--c_black);
    font-family: 'Cinzel', serif;
    font-size: 150px;
    font-weight: 500;
    opacity: 0;
    position: absolute;
    transform: translate(250px);
    transition: 0.5s;
}
.presentationImage:hover p {
    opacity: 0.3;
    transform: translate(300px);
}
.textDiv {
    background: linear-gradient(
        187deg,
        var(--c_black),
        var(--c_extraDarkUltraViolet),
        var(--c_darkUltraViolet),
        var(--c_ultraViolet));
    box-shadow: 0 0 50px black;
    display: flex;
    justify-content: center;
    min-height: 557px;
    width: 100%;
}
.textDiv .center {
    background-color: #fff;
    box-shadow: 0 0 50px black;
    width: 70%;
}
.textDiv .center:first-child {
    padding-top: 50px;
}
.textDiv .center:last-child {
    padding-bottom: 50px;
}
.textDiv .center * {
    font-family: 'Forum', cursive;
}
.textDiv .center h1 {
    font-size: 40px;
    padding: 20px 30px;
}
.textDiv .center p {
    font-size: 30px;
    padding: 20px 30px;
}
.textDiv .center a {
    color: var(--c_ultraViolet);
    font-size: 30px;
    transition: 0.2s;
}
.textDiv .center a:hover {
    color: var(--c_purple);
}
.footer {
    background: linear-gradient(180deg, var(--c_darkGrey) 30%, var(--c_black));
    border-top: solid 2px #000;
    box-shadow: 0 0 50px var(--c_black);
    display: flex;
    height: 300px;
    width: 100%;
}
.footer .leftSide {
    align-items: center;
    display: flex;
    width: 50%;
}
.footer .leftSide img {
    border: solid 2px var(--c_grey);
    filter: drop-shadow(0 0 7px var(--c_brightUltraViolet));
}
.footer .leftSide .logo {
    float: left;
    width: 15%;
}
.footer .leftSide .logo img {
    transform: translateX(100px);
}
.footer .leftSide .socialMediaIcons {
    transform: translateX(250px);
}
.footer .leftSide .socialMediaIcons p {
    color: #fff;
    font-size: 20px;
    max-width: 108px;
    transition: 0.5s;
}
.footer .leftSide .socialMediaIcons a {
    color: #fff;
    font-size: 20px;
    letter-spacing: 20px;
    transition: 0.5s;
}
.footer .leftSide .socialMediaIcons a:hover {
    color: var(--c_brightUltraViolet);
    filter: drop-shadow(0 0 5px var(--c_brightUltraViolet));
}
.footer .rightSide {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}
.footer .rightSide ul {
    align-items: center;
    list-style: none;
    transform: translateX(80px);
    width: 50%;
}
.footer .rightSide ul li a {
    color: var(--c_brightGrey);
    font-size: 15px;
    text-decoration: none;
    transition: 0.5s;
}
.footer .rightSide ul li a:hover {
    color: var(--c_brightUltraViolet);
    filter: drop-shadow(0 0 5px var(--c_brightUltraViolet));
}